/*Styling the Header*/

header{
    background-color: blanchedalmond;
}


/* Navigation section */
nav{
    background-color: rgba(230, 205, 169, 0.979);
}
.pages{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.pages li{
    list-style-type: none;
    /* border: 2px solid cornflowerblue;
    border-radius: 5px;
    padding: 3px; */
}

#current{
    color:crimson; 
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    
}

/* It's more fun in the Philippines Text */
h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: chocolate;
    text-align: center;
}
/*Styling the Header*/

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Styling foods to Eat */

.foods{
    display:flex;
    justify-content: space-evenly;
    
}

.text-overlay{
    font-size: 15px;
    position:  relative;
    text-shadow: 2px 2px 5px rgb(39, 37, 37);
    top: -50px;
    left: 170px;
    color: rgb(255, 254, 254);
    font-weight: bold;

}



.foods img{
    width: 250px;
    height: 250px;
    border: 2px solid;
}

.foods img:hover{
    scale: 1.03;
    border-radius: 12px;
    transition: 0.3s ease-in;
    color: rgba(228, 243, 255, 0.5);
}

.foods .desc{
    width: 250px;
    text-align: justify;
    border-top: 5px solid rgb(255, 26, 26);
    padding-top: 15px;
    font-style: italic;
    
}


.places img{
    width: 300px;
    border: 2px solid;
    border-radius: 50%;

} 

.places img:hover{
    scale:1.1;
    color: rgb(243, 243, 243);
    transition: 0.3s ease-out;
    border-radius: 0%;
    transition-delay: 0.5s;
}

.places p{
    width: 300px;
    /* background-color: rgb(221, 220, 220); */
    border-left: 5px solid rgb(1, 49, 33);
    padding-left: 15px;
    font-style: italic;
}



.places{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
}

.about p:nth-child(odd) {
    background-color: rgb(202, 202, 202);
}

.about p:nth-child(even){
    font-style: italic;
    font-size: 15px;
    border-left: 5px solid violet;
    padding: 15px;
}

.about{
    display:grid;
    grid-template-columns: 70%;
    justify-content: center;
    
}

.about img{
    width: 980px;
    justify-content: center;
}

.about p{
    text-align: justify;
}
.hashtag{
    color: blueviolet;
}


footer{
    background-color: blanchedalmond;
    text-align: center;
    /* padding: 20px; */
    font-size: 15px;
}
footer div{
    background-color: rgba(230, 205, 169, 0.979);
    height: 20px;
}

.image-about{
    width: 120%;
    height: 40%;
}

.title-page{
    display:flex;
    justify-content: center;
    
}

#ph-logo{
     padding: 10px;
}

.skip{
    position:absolute;
    left:0;
    top: 0;
    z-index: 50;
    transform: translateY(-100%);
}

.skip:focus{
    transform: translateY(0);
}
