body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:125%;
}

header{
    background-color: rgb(126, 250, 153);
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(171, 241, 243);
    text-align: center;
}

main{
    background-color: rgb(255, 223, 164);
    font-size: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    display: inline-block;
    text-align: center;
    font-size: 80%;
    display: inline-block; width: 1000 px;
}

footer{
    background-color:rgb(136, 243, 184);
    font-size: 60%;
}

h1{
    color:brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p{
    height: 30px;
    text-align: center;
}

